<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale - Electronics Store</title>
    <link
      rel="shortcut icon"
      href="img/global/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
    </header>
    <main class="main">
      <section
        class="sale-hero"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="sale.hero.partial.html"
      ></section>
      <section
        class="sale-items"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="sale.items.partial.html"
      ></section>
      <section
        class="sale-cta"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="sale.cta.partial.html"
      ></section>
    </main>
    <footer class="footer">
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
    </footer>
  </body>
</html>

